{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "preprocess": false,
        "displayName": false, // generate other classname
        "fileName": false
      }
    ]
  ]
}
