@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Academy Engraved LET';
  font-style: normal;
  font-weight: normal;
  src: local('Academy Engraved LET'), url('../assets/fonts/Academy.ttf') format('ttf');
}

:root {
  --main-color: #212123;
  --secondary-color: #cea46f;
  --main-container-width: 75%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
